<div class="container my-5">
    <h1 class="mb-3">Employees</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Salary</th>
        <th scope="col">Department</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.department }}</td>
        <td><a [routerLink]="['/employees', 'edit', employee.id]">View</a></td>
        <td><a [routerLink]="['/employees', 'edit', employee.id]">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>